@charset "ISO-8859-1";
body {
  margin-top: 50px;
  font-family: 'Roboto', sans-serif;
  background: -webkit-linear-gradient(45deg, rgba(4, 2, 96, 0.7), rgba(180, 49, 183, 0.9)), -webkit-linear-gradient(0deg, rgba(51, 136, 140, 0.3), rgba(87, 240, 240, 0.1));
  background: -moz-linear-gradient(45deg, rgba(4, 2, 96, 0.7), rgba(180, 49, 183, 0.9)), -moz-linear-gradient(0deg, rgba(51, 136, 140, 0.3), rgba(87, 240, 240, 0.1));
  background: -o-linear-gradient(45deg, rgba(4, 2, 96, 0.7), rgba(180, 49, 183, 0.9)), -o-linear-gradient(0deg, rgba(51, 136, 140, 0.3), rgba(87, 240, 240, 0.1));
  background: linear-gradient(45deg, rgba(4, 2, 96, 0.7), rgba(180, 49, 183, 0.9)), linear-gradient(90deg, rgba(51, 136, 140, 0.3), rgba(87, 240, 240, 0.1));
  overflow: hidden;
}
.text-center {
	
	color: black;
}
.close {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 32px;
  height: 32px;
  opacity: 0.5;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.box {
    width: 100%;
    margin: auto;
    max-width: 525px;
    min-height: 450px;
    position: relative;
    background: url(https://images.unsplash.com/photo-1507208773393-40d9fc670acf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1268&q=80) no-repeat center;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
    padding: 70px 70px 30px 70px;
    background: white;
}
.space {
    min-height: 345px;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.space .group {
    margin-bottom: 20px;
}
.space .group .label {
    text-transform: uppercase
}

.space .group .label,
.space .group .input
{
    width: 100%; 
    display: block;
    
}
.space .group .input
{
    border: 2px solid black;
    padding: 15px 20px;
    border-radius: 25px;
    
}

.space .group input[data-type="password"] {
    text-security: circle;
    -webkit-text-security: circle;
}

.space .group .label {
    color: #07294d;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0px;
}

button {
  height: 50px;
  width: 100%;
  background-color: #8bc34a;
  -webkit-border-radius: 45px;
     -moz-border-radius: 45px;
          border-radius: 45px;
  position: relative;
  line-height: 45px;
  text-align: center;
  font-weight: bold;
  color: white;
  margin-top: 20px;
  
  -webkit-transition: background .2s;
     -moz-transition: background .2s;
       -o-transition: background .2s;
          transition: background .2s;
  cursor: pointer;
}
button:active {
  -webkit-transform: translateY(2px);
     -moz-transform: translateY(2px);
      -ms-transform: translateY(2px);
       -o-transform: translateY(2px);
          transform: translateY(2px);
}
button:hover {
  background-color: #599b2d;
}
button:after {
  
  font-family: 'FontAwesome';
  position: absolute;
  width: 45px;
  height: 45px;
  background-color: #599b2d;
  color: #fff;
  text-shadow: 1px -1px #467a23, 2px -2px #487d24, 3px -3px #4a8025, 4px -4px #4b8326, 5px -5px #4d8627, 6px -6px #4f8928, 7px -7px #508c28, 8px -8px #528f29, 9px -9px #54922a, 10px -10px #55952b, 11px -11px #57982c;
  left: 0;
  top: 0;
  -webkit-transform: rotate(90deg);
     -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
       -o-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  text-align: center;
  line-height: 45px;
}

*,
:after,
:before {
    box-sizing: border-box;
}
.hr {
    height: 2px;
    margin: 60px 0 0px 0;
    background: rgba(255, 255, 255, .2);
}
.card {
    width: 500px;
    left: 100px;
}

::placeholder {
    color: #b3b3b3;
}
h3{
	color: black;
}