

/* =============================================================
   GENERAL STYLES
 ============================================================ */
body {
    font-family: 'Open Sans', sans-serif;
    line-height: 30px;
    font-size: 14px;
}

.set-pad {
    padding-top:10px;
}
.set-row-pad {
    padding-top:20px;
    padding-bottom:20px;
}

.set-row-pad .img-thumbnail{
    height: 300px;
    width: 500px;
}
/*=====================================
  NAVBAR STYLES 
    ===================================*/

.logo-custom {
    max-height: 40px;
}
.navbar-header img{
	margin-top: 12px;
}

#menu {
    background-color: #07294d;
    color: #E5A186;
    font-size: 15px;
    font-weight: 900;
    letter-spacing: 1px;
    min-height: 60px;
}


.navbar-inverse {
    border-color: transparent;
}

    .navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-nav > li > a:hover {
        color: peachpuff;
        padding: 22px 10px;
    }


/*=====================================
  HOME STYLES 
    ===================================*/
.home-sec {
    padding-top: 10px;
    padding-bottom: 60px;
    background: url(../images/header.jpg) no-repeat center center;
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

    .home-sec .overlay {
        background: rgba(0, 0, 128, 0.1);
        min-height: 500px;
    }

    .home-sec h1 {
        color: rgb(255,255,0);
        font-weight: 900;
        font-size: 50px;
        text-transform: uppercase;
        padding-bottom: 10px;
	
    }

    .home-sec h3 {
		font-weight: 600;
        text-transform: uppercase;
    }



.set-flexi {
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0);
    -o-box-shadow: 0 1px 4px rgba(0, 0, 0, 0);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0);
    background-color: transparent;
    border: 0px solid #000;
    padding-top: 120px;
}

.flex-control-nav {
    display: none!important;
}

.set-flexi button {
    margin: 5px;
    font-weight: 550;
}
/*=====================================
  DROPDOWN STYLES 
    ===================================*/
.dropdown {
  position: relative;
  display: inline-block;
  
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}
.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}
/*=====================================
  TAG LINE STYLES 
    ===================================*/

.tag-line {
    background: #E9E9E9;
    color: #000;
}

    .tag-line h2 {
        font-size: 20px;
        font-weight: 900;
        padding: 5px 10px 10px 5px;
        color: #005E5A;
    }

        .tag-line h2 > i {
            margin-left: 8px;
            margin-right: 8px;
        }
/*=====================================
  HEADER LINE STYLES 
    ===================================*/
.header-line {
    font-weight: 900;
    font-size: 25px;
    padding-top: 5px;
    color: #000;
}

h1::after {
    content: " ";
    border: solid 2px rgb(255,0,0);
    display: block;
    width: 200px;
    margin: 12px auto;
}
/*=====================================
  FEATURES SECTION STYLES 
    ===================================*/
#features-sec{
    font-weight: 550;
    font-size: 14px;
}
/*=====================================
  ABOUT STYLES 
  ===================================*/
.about-div {
    padding: 30px;
    text-align: center;
}

.icon-round-border {
    border: 10px double #07294d;
    color: #07294d;
    text-align: center;
    padding-top: 15px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

    .icon-round-border:hover {
        color: #fff;
        border: 10px double #fff;
        background-color: #07294d;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
    }

.about-div hr {
    border: 1px solid rgb(255,0,0);
}

.about-div h3 {
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
}

.about-div p {
    padding-top: 10px;
}



.btn-set {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    margin-bottom: 20px;
}
/*=====================================
  FACULTY STYLES 
  ===================================*/
#faculty-sec {
    background-color: #000;
    color: peachpuff;
}

#faculty-sec .header-line {
    color: peachpuff;
}

.faculty-div {
    padding: 15px;
    padding-bottom: 20px;
    width: 1110px;
    height: 350px;
}

    .faculty-div hr {
        border: 1px solid #1A94C4;
    }

    .faculty-div p {
        padding-top: 10px;
        padding-bottom: 15px;
    }

    .faculty-div img {
        border: 8px double #fff;
        max-width: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }

.img-rounded{
    height: 320px;
    width: inherit;
    opacity: 0.7;
}

/*=====================================
  CONTACT STYLES 
  ===================================*/
#contact-sec {
    padding-top: 10px;
    padding-bottom: 60px;
    background: url(../images/contact.jpg) no-repeat center center;
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

#contact-sec .overlay {
        background: rgba(0, 0, 0, 0.76);
       
    }

    #contact-sec h1 {
        color:#fff;
    }
#contact-sec .form-control{
    background-color:rgba(255, 255, 255, 0);
    color:#fff;
}
/*=====================================
  Footer STYLES 
  ===================================*/
  
#socialbox{
    padding-top: 10px;
    padding-bottom: 0px;
    display: flex;
}

#socialinbox{
    flex: 1;
    margin: 0px 20px;
    padding: 0px 5px;
}

#footer {
    padding:5px 20px;
    background-color: #07294d;
    text-align:right;
    color:#fff;
    font-size:15px;
}